# Appium USB device identifiers
ANDROID_DEVICE_UDID=
IOS_DEVICE_UDID=
ANDROID_APP_PATH=
IOS_APP_PATH=

# Test User
TEST_USER_EMAIL=
TEST_USER_PASSWORD=

# Negative Test Data
INVALID_EMAIL=
INCORRECT_PASSWORD=