# BrowserStack
BROWSERSTACK_USERNAME=
BROWSERSTACK_ACCESS_KEY=
BROWSERSTACK_ANDROID_APP_ID=
BROWSERSTACK_IOS_APP_ID=

# Test User
TEST_USER_EMAIL=
TEST_USER_PASSWORD=

# Negative Test Data
INVALID_EMAIL=
INCORRECT_PASSWORD=